body {background-color: rgb(232, 250, 231);
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 4em;
}

h1 { 
  color: black; 
  margin: center;
  padding-top: em;
}

h2 { color: rgb(34, 34, 34); 
}
h3 { color: rgb(51, 51, 51)}
 
* {
    color: rgb(100, 98, 98);
}
  
.foto {
  position: 30 em;
  margin: 30px; 
  padding-right: 30px;
  
}

#red-part {color: red;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
    text-align: left;
  }
 
  